/* Fonts - Подключение шрифтов */

/* Benzin Regular */
@font-face {
    font-family: 'Benzin';
    src: url('../FRONTS/Benzin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Benzin Medium */
@font-face {
    font-family: 'Benzin';
    src: url('../FRONTS/Benzin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Benzin Semibold */
@font-face {
    font-family: 'Benzin';
    src: url('../FRONTS/Benzin-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Benzin Bold */
@font-face {
    font-family: 'Benzin';
    src: url('../FRONTS/Benzin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Benzin ExtraBold */
@font-face {
    font-family: 'Benzin';
    src: url('../FRONTS/Benzin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
} 